.header {
  width: 100%;
  display: inline-block;
  height: 50px;
}

.header__first {
  display: inline-block;
  margin: auto 20px;
  cursor: pointer;
}

.header__logo {
  height: 35px;
  width: auto;
}
